@*

*@
@{
    Layout = null;


}

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese?</a></p>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses found.</p>
}


<ul style="list-style-type:none;">
    @foreach (KeyValuePair<string, string> cheese in ViewBag.Cheeses) //(object cheese in ViewBag.Cheeses)
    {
       // <li>@cheese</li>; // this works and displays [name, description] in brackets
       <li>@cheese.Key: @cheese.Value</li>

     }
</ul>
